<template>
  <div class="icon">
    <slot></slot>
  </div>
</template>

<style scoped>
.icon {
  background-color: white;
  height: 2rem;
  width: 5rem;
  margin: 0.2rem;
  cursor: pointer;
}
</style>
